<div class="inputs">
  <div class="forms">
    <form class="info" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="giris">
        <input formControlName="id" type="number" placeholder="ID" />
        <input
          class="form-name"
          formControlName="name"
          type="text"
          placeholder="FIRST NAME"
          minlength="3"
        />
        <input
          formControlName="lastname"
          type="text"
          placeholder="LAST NAME"
          minlength="2"
        />
        <input
          formControlName="phone"
          type="number"
          placeholder="PHONE NUMBER"
        />
        <select formControlName="country">
          <option value="" selected></option>
          <option value="CANADA">CANADA</option>
          <option value="FRANCE">FRANCE</option>
          <option value="TURKEY">TURKEY</option>
          <option value="USA">USA</option>
        </select>
        <select formControlName="job">
          <option value="" selected></option>
          <option value="DOCTOR">DOCTOR</option>
          <option value="ENGINEER">ENGINEER</option>
          <option value="LAWYER">LAWYER</option>
          <option value="TEACHER">TEACHER</option>
          <option value="RETIRED">RETIRED</option>
        </select>
        <button [disabled]="!myForm.valid" type="submit">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
