<form class="modal-info" [formGroup]="myForm">
   
    <div class="giris">
        <input formControlName="id" type="number" placeholder="ID">
        <input formControlName="name" type="text" placeholder="Name" minlength="3">
        <input formControlName="lastname" type="text" placeholder="Surname"  minlength="3">
        <input formControlName="phone" type="number" placeholder="Phone Number" >
        <select formControlName="country">
            <option value="" selected></option>
            <option value="CANADA">CANADA</option>
            <option value="FRANCE">FRANCE</option>
            <option value="TURKEY">TURKEY</option>
            <option value="USA">USA</option>
        </select>
        <select formControlName="job">
            <option value="" selected></option>
            <option value="DOCTOR">DOCTOR</option>
            <option value="ENGINEER">ENGINEER</option>
            <option value="LAWYER">LAWYER</option>
            <option value="TEACHER">TEACHER</option>
            <option value="RETIRED">RETIRED</option>
        </select>
    </div>
    <div class="modal-buttons">
        <button class="update" type="submit" title="Update" (click)="modalUpdate()">UPDATE


        </button>
        <button class="close" type="submit" title="Close" (click)="modalClose()">CLOSE

        </button>

    </div>
</form>